#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: background-color 0.2s ease;
  }

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #18251b !important;
}




.navbar-nav a:hover{
  color: black;
}

@media (min-width: 992px){
#mainNav {
    box-shadow: none;
    background-color: transparent;
  }
}


@media (min-width: 992px){
#mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    background-color: #fff;
    height: 3rem;
  }
}


@media (max-width: 528px) {

  .navbar-nav a {
   color: rgba(0, 0, 0, 0.5) !important;
  }
}
